@media only screen and (max-width: 1200px) {
  .newwatch .container {
    max-width: 100% !important;
  }

  /* brands */

  .brands {
    padding: 20px !important;
  }

  .brands .container {
    max-width: 1024px !important;
    padding: 20px 0 !important;
  }

  .brands .top-brands h2 {
    font-size: 3.1vw !important;
  }

  .brands .top-brands .view-title {
    font-size: 1.8vw !important;
    display: flex;
    align-items: center;
  }

  .brands .container h2 {
    margin-bottom: 10px;
  }

  .brands .swiper-slide.first-slide {
    padding-left: 45px !important;
  }

  .brands .swiper-slide.last-slide {
    padding-right: 45px !important;
  }

  .sub-brand-part .sub-brand-main {
    width: 214px !important;
  }

  .sub-brand-part .sub-brand-main-title h1 {
    margin: 10px 0 !important;
  }

  /* about */

  .about .container {
    max-width: 1024px !important;
  }

  .about .about-main {
    width: 70% !important;
  }

  .about .about-sub {
    padding: 4% 10% 2% 10% !important;
  }

  .about .about-sub-main {
    justify-content: center;
  }

  .about .about-sub-part {
    margin: 0 !important;
  }

  .about .about-sub-part-1 {
    width: 21% !important;
  }

  .about .about-sub-part-2 {
    padding: 0 10px !important;
    width: 35% !important;
  }

  /* collections */

  .collections .container {
    max-width: 100% !important;
  }

  .collections .collections-title h2 {
    margin-left: 6.5vw !important;
  }

  .collections .swiper-slide.first-slide {
    padding-left: 6% !important;
  }
  .collections .swiper-slide.last-slide {
    padding-right: 6% !important;
  }

  /* gift */
  .gift .container {
    max-width: 1024px !important;
  }

  .gift .gift-part-2 {
    padding: 5.2% !important;
  }

  .gift .gift-part-2 h1 {
    font-size: 2.196vw !important;
    line-height: 2.5vw !important;
  }

  .gift .gift-part-2 p {
    font-size: 1.2vw !important;
    line-height: 1.757vw !important;
  }

  /* Trending */

  .Trending .container {
    max-width: 100% !important;
    padding: 0px 0px !important;
  }

  .Trending .container .Trending-title {
    padding: 0 45px !important;
  }

  .Trending .swiper-slide.first-slide {
    padding-left: 45px !important;
  }

  .Trending .swiper-slide.last-slide {
    padding-right: 45px !important;
  }

  /* curated */

  .curated .container {
    max-width: 100% !important;
    padding: 0 !important;
  }

  .curated .curated-title {
    margin-left: 6.5vw !important;
  }

  .curated .swiper-slide.first-slide {
    padding-left: 6% !important;
  }
  .curated .swiper-slide.last-slide {
    padding-right: 6% !important;
  }

  .curated .curated-des-box {
    height: 118px !important;
  }

  /* manwatch */

  .watch-box .container {
    max-width: 1024px !important;
    /* padding: 0 12vw; */
  }

  /* Jitboutique */

  .Jitboutique .Jitboutique-title-box h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .Jitboutique .Jitboutique-title-box p {
    line-height: 20px;
    font-size: 14px;
    margin: 10px 0 30px 0;
  }
}

@media only screen and (max-width: 1030px) {
  .newwatch .container {
    width: 100% !important;
    padding: 60px 36px !important;
    padding-bottom: 30px !important;
  }

  .newwatch h2 {
    font-size: 12px !important;
  }

  /* brands */

  .brands {
    padding: 10px !important;
  }

  .brands .container {
    max-width: 992px !important;
    padding: 20px 0 !important;
  }

  /* about */
  .about {
    padding: 35px 10px !important;
  }

  .about .about-sub-main {
    justify-content: space-around !important;
  }

  .about .container {
    max-width: 992px !important;
  }

  .about .about-main {
    width: 66.5% !important;
    padding: 25px !important;
  }

  .about-sub {
    padding: 4.5% 10% 2.5% 10% !important;
  }
  .about-sub h1 {
    font-size: 29.5px !important;
    margin-left: 0 !important;
    margin-bottom: 23.5px !important;
  }

  .about-sub .about-more {
    margin-top: 23.5px !important;
    font-size: 1.707vw !important;
    line-height: 1.707vw !important;
    margin-bottom: 12px !important;
  }

  .about .count-number {
    font-size: 4vw !important;
    line-height: 4vw !important;
  }

  .about .count-text {
    font-size: 1.951vw !important;
    margin: 0 !important;
    line-height: 2.5vw !important;
  }
  /* collections */

  .collections .collections-title h2 {
    font-size: 3vw !important;
    line-height: 3.659vw !important;
  }

  /* offers */

  .offers .swiper-slide.first-slide {
    padding-left: 6% !important;
  }
  .offers .swiper-slide.last-slide {
    padding-right: 6% !important;
  }

  .offers .offers-title h1 {
    margin-left: 6.5vw !important;
    margin-bottom: 2% !important;
    font-size: 2.927vw !important;
    line-height: 3.659vw !important;
  }

  /* gift */
  .gift .container {
    max-width: 1024px !important;
  }

  .gift .gift-part-2 {
    padding: 5.2% !important;
  }

  .gift .gift-part-2 h1 {
    font-size: 2.196vw !important;
    line-height: 2.5vw !important;
  }

  .gift .gift-part-2 p {
    font-size: 1.2vw !important;
    line-height: 1.757vw !important;
  }

  /* Trending */

  .Trending .Trending-title h2 {
    font-size: 2.927vw !important;
    line-height: 3.659vw !important;
  }

  .Trending .Trending-box-des h2 {
    font-size: 1.951vw !important;
    letter-spacing: 0.56px !important;
  }

  .Trending .Trending-box-des .Trending-des {
    font-size: 1.951vw !important;
  }

  .Trending .Trending-box-des .Trending-price {
    font-size: 1.951vw !important;
  }

  /* Luxe */

  .luxe .luxe-title h3 {
    font-size: 2.927vw;
    line-height: 3.659vw;
  }

  .luxe .luxe-title p {
    font-size: 2vw;
    line-height: 2.5vw;
    width: 100%;
  }

  .luxe .luxe-box {
    width: 90%;
  }

  .luxe .luxe-des-box .luxe-wrp {
    width: 87%;
  }

  .luxe .luxe-des-box h4 {
    font-size: 3vw;
    line-height: 3vw;
    margin: 0;
    margin-bottom: 3%;
  }

  .luxe .luxe-des-box p {
    font-size: 1.707vw;
    line-height: 2vw;
  }

  /* curated */

  .curated .curated-title h2 {
    font-size: 3.659vw !important;
    line-height: 3.659vw !important;
  }

  .curated .curated-title p {
    font-size: 1.951vw !important;
    line-height: 2.927vw !important;
    width: 92% !important;
  }

  .curated .curated-des-box h4 {
    font-size: 3.196vw !important;
  }

  .curated .curated-des-box p {
    font-size: 1.5vw !important;
  }

  /* watchjournal */

  .watchjournal .container {
    max-width: 992px !important;
  }

  .watchjournal-main-warp {
    padding: 8% 2.5% !important;
  }

  .watchjournal .swiper {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 3% !important;
  }

  .watchjournal .swiper-slide {
    height: 22vw !important;
    width: 30.488vw !important;
  }

  .watchjournal .watchjournal-card {
    width: 30.488vw !important;
    height: 22vw !important;
    padding: 8%;
  }

  .watchjournal .watchjournal-title-box h4 {
    line-height: 3.659vw;
  }

  .watchjournal .watchjournal-title-box p {
    font-size: 1.8vw;
  }

  .watchjournal .watchjournal-cards-title {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  .watchjournal .watchjournal-cards-des {
    width: 90%;
    margin: 9% 0;
  }

  .watchjournal .watchjournal-cards-des p {
    font-size: 1.8vw;
    line-height: 2.5vw;
    margin: 0;
  }

  .watchjournal .more-view {
    font-size: 1.5vw;
  }

  /* watch-main-page */

  .watch-box .container {
    max-width: 90% !important;
  }

  .watch-box .watch-des-box-main .watch-des-brand {
    font-size: 1.951vw;
    letter-spacing: 0.56px;
  }

  .watch-box .watch-des-box-main .watch-des-line {
    font-size: 1.951vw;
  }

  .watch-box .watch-des-box-main .watch-des-price {
    font-size: 1.951vw;
  }
}

@media only screen and (max-width: 992px) {
  /* brands */

  .brands {
    padding: 10px !important;
  }

  .brands .container {
    max-width: 93% !important;
    padding: 20px 0 !important;
  }

  /* about */

  .about .about-sub-part-1 {
    width: 27% !important;
  }

  .about-sub h1 {
    font-size: 2.927vw !important;
    line-height: 3.659vw !important;
  }

  /* gift */
  .gift .container {
    max-width: 93% !important;
  }

  .gift .gift-title h1 {
    font-size: 3vw !important;
    line-height: 3.659vw !important;
  }

  .gift .gift-part-1 {
    width: 70% !important;
  }

  .gift .gift-part-2 {
    width: 30% !important;
    padding: 3% !important;
  }

  .gift .gift-part-2 h1 {
    line-height: 3.6vw !important;
  }

  .gift .gift-part-2 p {
    font-size: 2vw !important;
    line-height: 2.1vw !important;
    margin: 2.2vw auto !important;
  }

  .gift .gift-part-2 .btn-text {
    font-size: 1.7vw !important;
  }

  /* curated */

  .curated .curated-title h2 {
    font-size: 3.659vw !important;
    line-height: 3.659vw !important;
  }

  .curated .curated-title p {
    font-size: 1.951vw !important;
    line-height: 2.927vw !important;
    width: 92% !important;
  }

  .curated .curated-des-box h4 {
    font-size: 3.659vw !important;
    line-height: 4.268vw !important;
    margin-bottom: 3% !important;
    text-align: justify;
  }

  .curated .curated-des-box p {
    font-size: 1.707vw !important;
    line-height: 2.439vw !important;
    text-align: justify;
    margin-left: 0 !important;
    display: flex;
  }

  /* watchjournal */

  .watchjournal .watchjournal-cards-des p {
    margin-bottom: 9px;
  }

  /* footer */

  .footer .footer-content {
    width: 90%;
  }

  .footer .footer-section h3 {
    font-size: 2vw;
  }

  .footer .footer-section ul li {
    font-size: 1.4vw;
  }

  .footer .footer-social-media h2 {
    font-size: 2vw;
  }

  /* watch-main-page */

  .watch-box .main-wrp {
    width: calc(50% - 16px / 2) !important;
    max-width: 100% !important;
  }

  /* Jitboutique */

  .Jitboutique .Jitboutique-box-main {
    width: 48%;
  }

  .Jitboutique .Jitboutique-bg-img {
    width: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .newwatch .container {
    max-width: 90% !important;
    width: 90% !important;
    display: block !important;
  }

  .newwatch h2 {
    font-size: 16px !important;
  }

  .newatch-sub {
    width: 100% !important;
    margin: 20px auto !important;
  }

  /* brand */

  .brands .container {
    max-width: 90% !important;
    padding: 20px 0 !important;
  }

  .brands .top-brands h2 {
    font-size: 3.1vw !important;
  }

  .brands .top-brands .view-title {
    font-size: 16px !important;
    display: flex;
    align-items: center;
  }

  .brands .container h2 {
    margin-bottom: 10px;
  }

  /* about */
  .about .about-main {
    padding: 19px !important;
  }

  .about-sub h1 {
    font-size: 2.927vw !important;
    line-height: 3.659vw;
    margin-bottom: 5% !important;
  }

  .about .about-sub-part {
    width: 27% !important;
  }

  .about .about-sub-part-2 {
    padding: 0 10px !important;
    width: 42% !important;
  }

  .about-sub .about-more {
    margin-top: 17.5px !important;
    margin-bottom: 11px !important;
  }

  /* luxe */

  .luxe {
    height: 100% !important;
  }

  .luxe .luxe-box {
    width: 95%;
    margin: 50px auto;
  }

  .luxe .luxe-main-wrp {
    flex-wrap: wrap;
  }

  .luxe .luxe-img-wrp {
    margin: auto;
  }

  .luxe .luxe-box .desk-img {
    display: none;
  }

  .luxe .luxe-box .mob-img {
    display: block;
  }

  .luxe .luxe-des-box .luxe-wrp {
    width: 87%;
  }

  .luxe .luxe-box-loop {
    padding-bottom: 50px;
  }

  .luxe .luxe-des-box .luxe-box-main {
    padding: 5.95% 4%;
  }

  .luxe .luxe-box-main p {
    margin: 4% 0;
  }

  .luxe .luxe-des-box {
    bottom: 2%;
    left: -2%;
  }

  .luxe .luxe-box-1 {
    margin-top: 0;
  }

  .luxe .luxe-des-box-2 {
    left: -2% !important;
  }

  .luxe .luxe-des-box-2 .luxe-wrp {
    margin-left: auto !important;
  }

  .luxe .luxe-title h3 {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 0;
    letter-spacing: 0;
  }

  .luxe .luxe-title p {
    font-size: 2.333vw;
    line-height: 3.333vw;
    width: 100%;
    letter-spacing: 0;
    margin-top: 2.9vw;
    margin-bottom: 3.5vw;
  }

  /* gift */

  .gift .gift-part-2 a {
    padding: 1vw 2vw !important;
  }

  /* footer */

  .footer .footer-content {
    width: 90%;
  }

  .footer .footer-section {
    width: 45%;
  }

  .footer .footer-section h3 {
    font-size: 3.5vw;
    margin-bottom: 5%;
  }

  .footer .footer-section ul li {
    font-size: 2.8vw;
    margin-bottom: 0;
    line-height: 1.8;
  }

  .footer .footer-social-media {
    width: 45%;
    margin-top: 6.5%;
  }

  .footer .footer-social-media h2 {
    font-size: 3.5vw;
  }

  .footer .footer-section-3 {
    margin-top: 6.5%;
  }

  .footer .footer-services-wrp {
    gap: 5%;
  }

  .footer .footer-sub .footer-services-box {
    gap: 10px;
    padding-left: 3%;
  }

  .footer .footer-sub p {
    font-size: 3vw;
    line-height: 1.5;
  }

  /* watch-main-page */

  .watch-box .container {
    max-width: 100% !important;
  }

  .watch-box .container {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Jitboutique */

  .Jitboutique .container {
    max-width: 95% !important;
    width: auto;
    margin: 0 auto;
  }

  .watch-box .nav-route {
    font-size: 12px !important;
  }

  .Jitboutique .container .container-padiing {
    padding: 0;
    padding-bottom: 50px;
  }

  .Jitboutique .Jitboutique-bg-text h2 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 676px) {
  .luxe .luxe-des-box .luxe-wrp {
    width: 67%;
  }

  .luxe .luxe-des-box {
    bottom: 0;
    left: 4.5%;
  }

  .luxe .luxe-des-box-2 {
    bottom: -20px;
  }

  .luxe .luxe-des-box-2 .luxe-wrp {
    margin-left: 0;
    margin-right: auto;
  }

  .luxe .luxe-des-box .luxe-box-main {
    padding: 9.8% 4%;
  }

  .luxe .luxe-des-box h4 {
    font-size: 4vw;
    line-height: 4vw;
    margin: 0;
    margin-bottom: 3%;
  }

  .luxe .luxe-box-main p {
    font-size: 2.333vw;
    line-height: 2.833vw;
  }

  /* watch-main-page */


  .watch-box .watch-des-box-main .watch-des-brand {
    font-size: 1.951vw;
    letter-spacing: 0.56px;
  }

  .watch-box .watch-des-box-main .watch-des-line {
    font-size: 1.951vw;
    letter-spacing: 0.56px;
  }

  .watch-box .watch-des-box-main .watch-des-price {
    font-size: 1.951vw;
  }
}

@media only screen and (max-width: 600px) {

  .collections .swiper{
    height: 100% !important;
  }
  .collections .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
  }

  .collections .collections-main {
    width: 200px !important;
    height: 300px !important;
  }

  .collections .swiper-wrapper {
    gap: 155px !important;
  }

  .collections .collections-sub {
    width: 207px !important;
    height: 100px !important;
    border-radius: 5% !important;
    left: 63% !important;
    top: 15% !important;
    bottom: 0 !important;
  }

  .collections .collections-sub-1 {
    top: 30% !important;
  }

  .collections .collections-sub-3 {
    top: 30% !important;
  }

  .collections .collections-sub h1 {
    font-size: 4vw !important;
    line-height: 5vw !important;
    text-align: left !important;
    margin-bottom: 6% !important;
  }

  /* offers */

  .offers .offers-title h1 {
    margin-left: 6.5vw !important;
    margin-bottom: 4% !important;
    font-size: 4vw !important;
    line-height: 5vw !important;
  }

  /* gift */

  .gift .gift-title h1 {
    font-size: 3vw !important;
    line-height: 23px !important;
  }

  .gift .gift-main {
    flex-wrap: wrap !important;
    border-radius: 10px !important;
  }

  .gift .gift-part-1 {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
  }

  .gift .gift-part-1 .des-gif {
    display: none !important;
  }

  .gift .gift-part-1 .mob-gif {
    display: block;
  }

  .gift .gift-part-2 {
    width: 100% !important;
    padding: 9% 11% !important;
    border-radius: 0 0 10px 10px !important;
  }

  .gift .gift-part-2 h1 {
    font-size: 4vw !important;
    line-height: 5vw !important;
    margin: 0 !important;
  }

  .gift .gift-part-2 p {
    font-size: 2.7vw !important;
    line-height: 3.5vw !important;
    margin: 4vw auto !important ;
  }

  .gift .gift-part-2 button {
    align-items: center;
    display: flex;
  }

  .gift .gift-part-2 a {
    padding: 2.5vw 5vw !important;
  }

  .gift .gift-part-2 .btn-text {
    font-size: 3vw !important;
    line-height: 2.5vw !important;
  }

  /* Trending */

  .Trending .Trending-title h2 {
    font-size: 4vw !important;
    line-height: 5vw !important;
    margin-bottom: 4% !important;
  }

  .Trending .Trending-box-des h2 {
    font-size: 3.5vw !important;
    letter-spacing: 0.56px !important;
    line-height: 18px !important;
    margin-bottom: 4px !important;
  }

  .Trending .Trending-box-des .Trending-des {
    color: #070101 !important;
    font-size: 12px !important;
    margin-top: 0 !important;
  }

  .Trending .Trending-box-des .Trending-price {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  /* curated */

  .curated .curated-title h2 {
    font-size: 4vw !important;
    line-height: 5vw !important;
    letter-spacing: 0 !important;
  }

  .curated .curated-title p {
    font-size: 2.333vw !important;
    line-height: 3vw !important;
    width: 85% !important;
  }

  .curated .curated-img {
    width: 193px !important;
    height: 250px !important;
  }

  .curated .curated-des-box p {
    font-size: 1.707vw !important;
    line-height: 2.439vw !important;
    text-align: justify;
    margin-left: 0 !important;
    display: flex;
  }

  .curated .curated-img .img1 {
    display: none !important;
  }

  .curated .curated-des-box {
    width: 162px !important;
    height: 130px !important;
    display: block !important;
    left: 55% !important;
    top: 40% !important;
  }

  .curated .swiper-wrapper {
    height: 230px !important;
  }

  /* watchjournal */

  .watchjournal .container {
    max-width: 100% !important;
    padding-left: 8%;
  }

  .watchjournal .first-slide {
    padding-left: 8%;
  }

  .watchjournal .last-slide {
    padding-right: 8%;
  }

  .watchjournal .bg-img-wj {
    background-image: url(../src/assets/img/WatchJournal-bg2.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .watchjournal .watchjournal-title-box h4 {
    font-size: 4vw;
    line-height: 5vw;
  }

  .watchjournal .watchjournal-cards-title {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .watchjournal .watchjournal-cards-des {
    width: 96%;
  }

  .watchjournal .watchjournal-cards-des p {
    font-size: 18px;
    line-height: 24px;
  }

  .watchjournal .watchjournal-title-box p {
    font-size: 2.33vw;
    line-height: 3.5vw;
  }

  .watchjournal .more-view {
    font-size: 2vw;
    line-height: 3.33vw;
  }

  .watchjournal .swiper {
    height: 186px !important;
  }

  .watchjournal .watchjournal-card {
    padding: 4% 8%;
    width: 265px !important;
    height: 186px !important;
  }

  /* watch-box */

  .watch-banner .watch-banner-wrp{
    left: 1vw;
  }

  .watch-banner .watch-banner-desk{
    display: none;
  }

  .watch-banner .watch-banner-mob{
    display: block;
  }

  .watch-banner h1{
    font-size: 6.7vw;
    line-height: 7.5vw;
  }

  .watch-banner h4{
    line-height: 3.33vw;
        font-size: 2.33vw;
        margin: 3% 0;
  }
}

@media only screen and (max-width: 578px) {
  .newwatch h2 {
    font-size: 13px !important;
  }

  .newatch-sub {
    width: 100% !important;
    margin: 20px auto !important;
  }

  .newatch-sub-part {
    padding: 5px 0 !important;
  }

  /* brands  */

  .brands .container {
    max-width: 90% !important;
    padding: 10px 0 !important;
  }

  .sub-brand-part .sub-brand-main {
    width: 175px !important;
  }

  .brands .top-brands h2 {
    font-size: 3vw !important;
    margin-bottom: 0 !important;
  }

  .brands .top-brands .view-title {
    font-size: 13px !important;
    display: flex;
    align-items: center;
  }

  .brands .container h2 {
    margin-bottom: 10px;
  }

  /* about */

  .about {
    padding: 0 !important;
    padding-top: 35px !important;
  }

  .about .container {
    max-width: 90% !important;
  }

  .about .about-main {
    width: 100% !important;
  }

  .about .about-sub-main {
    justify-content: center !important;
  }

  .about .about-sub {
    padding: 4% !important;
  }

  .about .about-sub-part {
    margin: 0 !important;
  }

  .about .about-sub-part-2 {
    padding: 0 10px !important;
    width: 35% !important;
  }

  .about-sub h1 {
    font-size: 4vw !important;
    line-height: 5vw !important ;
  }

  .about .count-number {
    font-size: 6.667vw !important;
    line-height: 9vw !important;
  }

  .about .count-text {
    font-size: 2vw !important;
    line-height: 2.5vw !important;
    margin-left: 8px !important;
  }

  .about .about-sub-part-3 .count-text {
    margin-left: 10% !important;
  }

  .about .about-more {
    font-size: 2vw !important;
    line-height: 2.5vw !important;
  }

  /* Trending */

  .Trending .Trending-box-des h2 {
    font-size: 14px !important;
  }

  .Trending .Trending-box-des .Trending-des {
    font-size: 15px !important;
  }

  .Trending .Trending-box-des .Trending-price {
    margin-top: 5px !important;
  }

  /* luxe */

  .luxe .luxe-des-box {
    bottom: 15px;
  }

  /* watch-main-page */

  .watch-box .watch-des-box-main .watch-des-brand {
    font-size: 14px;
  }

  .watch-box .watch-des-box-main .watch-des-line {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .watch-box .watch-des-box-main .watch-des-price {
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 480px) {
  /* brands */

  .brands .top-brands h2 {
    font-size: 17.5px !important;
    margin-bottom: 0 !important;
  }

  .brands .top-brands .view-title {
    font-size: 13px !important;
    display: flex;
    align-items: center;
  }

  .brands .container h2 {
    margin-bottom: 10px;
  }

  .brands .center-brands-part .swiper-wrapper {
    gap: 20px !important;
  }

  .brands .swiper-slide.first-slide {
    padding-left: 28px !important;
  }

  .brands .swiper-slide.last-slide {
    padding-right: 28px !important;
  }

  .sub-brand-part .sub-brand-main-title h1 {
    font-size: 3.3vw !important;
  }

  /* about */

  .about .container {
    max-width: 98% !important;
  }

  .about .about-main {
    border-radius: 0 !important;
  }

  .about .about-sub {
    border-radius: 0 !important;
  }

  .about .about-sub h1 {
    font-size: 5.607vw !important;
    line-height: 7.009vw !important;
  }

  .about .count-number {
    font-size: 9.346vw !important;
    line-height: 12.617vw !important;
  }

  .about .count-text {
    font-size: 2.804vw !important;
    line-height: 3.738vw !important;
  }

  .about .about-sub-part-2 {
    width: 41% !important;
    padding: 0 !important;
  }

  .about .count-text {
    margin: 0 auto !important;
  }

  .about .about-more {
    font-size: 2.804vw !important;
    line-height: 3.505vw !important;
  }

  /* collections */

  .collections .collections-title h2 {
    font-size: 4.2vw !important;
  }

  .collections .collections-sub h1 {
    font-size: 5.647vw !important;
    line-height: 7vw !important;
  }

  /* gift */

  .gift .container {
    padding: 15px !important;
  }

  .gift .gift-title h1 {
    font-size: 4.2vw !important;
  }

  .gift .gift-part-2 {
    padding: 9% 11% !important;
  }

  .gift .gift-part-2 h1 {
    font-size: 5.647vw !important;
    line-height: 7vw !important;
  }

  .gift .gift-part-2 p {
    font-size: 3.9vw !important;
    line-height: 4.7vw !important;
  }

  .gift .gift-part-2 a {
    padding: 2.2vw 6.5vw !important;
  }

  /* Trending */

  .Trending .container .Trending-title {
    margin-bottom: 4% !important;
  }

  .Trending .Trending-title h2 {
    font-size: 4.206vw !important;
    line-height: 3.049vw !important;
    margin-bottom: 0 !important;
    font-weight: 600;
  }

  .Trending .swiper-slide.first-slide {
    padding-left: 35px !important;
  }
  .Trending .swiper-slide.last-slide {
    padding-right: 0 !important;
  }

  .Trending .Trending-img {
    width: 100% !important;
  }

  .Trending .swiper-slide {
    padding-left: 30px !important;
  }

  /* luxe */

  .luxe .luxe-title h3 {
    font-size: 5.607vw;
    line-height: 7vw;
    margin-bottom: 0;
    letter-spacing: 0;
  }

  .luxe .luxe-title p {
    font-size: 3.271vw;
    line-height: 4.673vw;
    width: 100%;
    letter-spacing: 0;
  }

  .luxe .luxe-des-box .luxe-wrp {
    width: 74.5%;
  }

  .luxe .luxe-des-box h4 {
    font-size: 5.607vw;
    line-height: 5.607vw;
    margin: 0;
    margin-bottom: 3%;
  }

  .luxe .luxe-des-box {
    bottom: 11px;
  }

  .luxe .luxe-box-main p {
    font-size: 3.271vw;
    line-height: 3.972vw;
  }

  /* curated */

  .curated .swiper-wrapper {
    height: 252px !important;
  }

  .curated .curated-title h2 {
    font-size: 5.607vw !important;
    line-height: 7vw !important;
  }

  .curated .curated-title p {
    font-size: 3.271vw !important;
    line-height: 4.208vw !important;
    width: 100% !important;
  }

  .curated .curated-des-box h4 {
    font-size: 4vw !important;
  }

  .curated .curated-des-box h4 {
    font-size: 4.607vw !important;
    line-height: 7vw !important;
    margin-bottom: 3% !important;
  }

  .curated .curated-des-box p {
    font-size: 2.804vw !important;
    line-height: 3.271vw !important;
    display: flex !important;
    margin-left: 0 !important;
  }

  /* watchjournal */

  .watchjournal .watchjournal-title-box h4 {
    font-size: 5.607vw;
  }

  .watchjournal .watchjournal-title-box p {
    font-size: 3.271vw;
  }

  .watchjournal .watchjournal-card {
    width: 62.3vw !important;
    height: 44vw !important;
  }

  .watchjournal .swiper {
    height: 218px !important;
  }

  .watchjournal .swiper-wrapper {
    gap: 5% !important;
  }

  .watchjournal .watchjournal-cards-title {
    font-size: 2.8vw;
    line-height: 3.5vw;
  }

  .watchjournal .watchjournal-cards-des p {
    font-size: 4.2vw;
    line-height: 5.6vw;
  }

  .watchjournal .more-view {
    font-size: 2.8vw;
    line-height: 4.7vw;
  }

  /* watch-main-page */

  .watch-box .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .watch-box .watch-main-icon {
    top: 10px;
    right: 10px;
  }

  .watch-box .watch-des-box-main .watch-des-price {
    font-size: 13px;
  }

  /* Jitboutique */

  .Jitboutique .container {
    padding-bottom: 30px;
  }

  .Jitboutique .Jitboutique-box-main {
    width: 100%;
  }

  .Jitboutique .Jitboutique-bg-text h2 {
    font-size: 6vw;
  }

  .watch-banner h1{
    font-size: 9.3vw;
    line-height: 10.5vw;
  }

  .watch-banner h4{
    line-height: 4.6vw;
    font-size: 3.33vw;
  }
}

@media only screen and (max-width: 380px) {
  .newwatch .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 30px !important;
    padding-top: 50px !important;
  }

  .newwatch h2 {
    font-size: 13px !important;
    margin-left: 15px !important;
  }

  /* offers */

  .offers .offers-title h1 {
    font-size: 5vw !important;
  }

  /* gift */

  .gift .gift-title h1 {
    font-size: 4.2vw !important;
    color: #000 !important;
  }

  /* luxe */

  .luxe .luxe-des-box {
    bottom: 10%;
  }

  /* curated */

  .curated .curated-des-box {
    top: 50% !important;
  }

  .curated .curated-title p {
    width: 80% !important;
  }

  .curated .curated-des-box {
    height: 105px !important;
  }

  .curated .swiper-slide.last-slide {
    padding-right: 29% !important;
  }

  /* watchjournal */

  .watchjournal .swiper {
    height: 168px !important;
  }

  .watchjournal-main-warp {
    padding-bottom: 6% !important;
  }

  /* footer */

  .footer .footer-section {
    width: 90%;
    padding: 15px 0;
    margin: 0;
  }

  .footer .footer-section h3 {
    font-size: 4vw;
    margin-bottom: 4%;
  }

  .footer .footer-section ul li {
    font-size: 3.1vw;
  }

  .footer .footer-social-media {
    width: 90%;
    padding: 15px 0;
    margin: 0;
  }

  .footer .footer-social-media {
    font-size: 4vw;
  }

  /* watch-main-page */

  .watch-box .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .watch-box .watch-des-box-main .watch-des-line {
    font-size: 11.9px;
  }
}

@media (max-width: 350px) {
  /* luxe */

  .luxe .luxe-des-box {
    bottom: 16%;
  }

  /* curated */

  .curated .curated-title p {
    font-size: 4.2vw !important;
    line-height: 4.9vw !important;
    width: 85% !important;
  }

  /* watchjournal */

  .watchjournal .swiper {
    height: 155px !important;
  }
}
